body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow {
  border-radius: 8px;
}

.banner-img {
  margin: 30px 0 20px;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.shadow img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.navbar {
  background-color: aqua !important;
}
.nav-link {
  font-weight: 600;
  font-size: 18px;
}
.footer {
  background-color: aqua;
  padding: 20px 0;
  margin-top: 30px;
}

.shadow h5 {
  margin-top: 15px;
  text-align: center;
}

.logo-img {
  border-radius: 50%;
}
.giokham {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 115px);
  gap: 10px;
}
.giokham-item {
    background-color: gainsboro;
    padding: 4px;
    text-align: center;
    border: 1px solid gainsboro;
    cursor: pointer;
}

.giokham-item:hover {
  background-color: gainsboro;
  padding: 4px;
  text-align: center;
  border: 1px solid rgb(112, 143, 201);
}

.hinhthuc-thanhtoan {
  background-color: gainsboro;
  padding: 15px 10px;
  border-radius: 8px;
  margin-top: 20px;
}