@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.navbar {
  background: #F7F6F2 !important;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.nav-item {
  margin-right: 30px;
}
.banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(./images/banner.jpg) lightgray 50% / cover no-repeat;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  color: #FBFDFB;
  text-align: center;
  font-family: "Black Mango";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 78px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.jetztBuchen {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #1F2421;
  font-size: 18px;
  background-color: #fff;
  width: 202px;
  height: 58px;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  transition: .5s;
}

.jetztBuchen:hover {
  background-color: #3F862D;
}

.btn-termin {
  border-radius: 8px;
  background: #3F862D;
  border: 1px solid #3F862D;
  display: flex;
width: 194px;
height: 58px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
color: #fff;
font-size: 18px;
}

.care {
  background: #C5DBC0;
}

.care-left-txt {
  color: #626664;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
}
.care-row {
  display: flex;
  flex-wrap: wrap;
}
.care-column-left  {
  width: 50%;
}
.care-column-left-right{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 66px;
}
.care-right {
  background-color: #F7F6F2;
  padding: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.care-right-title {
  color: #3F862D;
  font-size: 32px;
  font-weight: 700;
  font-family: "Black Mango";
}

.care-right-txt {
  color: #3F862D;
  font-size: 16px;
  font-weight: 400;
}

.section-title {
  color: #3F862D;
  font-size: 48px;
  font-weight: 700;
  font-family: "Black Mango";
}

.section-txt {
  color: #626664;
  font-size: 16px;
  font-weight: 400;
}

.category-content .title {
  color: #FBFDFB;
  font-size: 20px;
  font-weight: 700;

}

.category-content .content {
  color: #FBFDFB;
  font-size: 16px;
  font-weight: 400;
  /* margin: 24px 0; */
}

.category-content .bottom {
  color: #FBFDFB;
  font-size: 16px;
  font-weight: 600;
  display: inline;
  border-bottom: 1px solid #FBFBFB;
  width: 110px;
  cursor: pointer;
}
.category-item {
  overflow: hidden;
}
.category-content {
  background: rgba(0, 0, 0, 0.50);
  padding: 24px;
  display: grid;
  row-gap: 24px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: .5s;
  transform: translateY(100%);
  opacity: 0; /* Ẩn */
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.category-item:hover .category-content {
  transform: translateY(0); /* Đưa vào màn hình */
  opacity: 1; /* Hiển thị */
}
.category-item1 {
  background-image: url(./images/home-1.png);
  height: 715px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.category-item2 {
  background-image: url(./images/home-2.png);
  height: 508px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.category-item3 {
  background-image: url(./images/home-3.png);
  height: 508px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.category-item4 {
  background-image: url(./images/home-4.png);
  height: 715px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.category-item5 {
  background-image: url(./images/home-5.png);
  height: 715px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.category-item6 {
  background-image: url(./images/home-6.png);
  height: 508px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-event {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 80px 0;
}

.product-item-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-item-content {
  background-color: #F7F6F2;
  padding: 24px;
}

.product-item-content .title {
  color: #1F2421;
  font-size: 18px;
  font-weight: 700;
}

.product-item-content .txt {
  color: #1F2421;
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
}

.product-item-content .button {
  background-color: #3F862D;
  padding: 15.5px 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 48px;
  cursor: pointer;
}

.carousel-indicators {
  bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.carousel-control-next {
  right: -120px;
}
.carousel-control-next-icon {
  width: 64px;
  height: 64px;
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}
.carousel-control-prev {
  left: -120px;
}
.carousel-control-prev-icon {
  width: 64px;
  height: 64px;
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e);
}

.carousel-indicators > button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #BCBDBC !important;
}

.carousel-indicators > button.active {
  width: 24px !important;
  height: 10px !important;
  border-radius: 20px !important;
  background-color: #3F862D !important;
  background-clip:inherit;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

footer {
  background-color: #F7F6F2;
  margin-top: 80px;
  padding: 56px 0;
}
.footer-lst {
  display: grid;
  grid-template-columns: 116px 1fr 1fr 1fr 350px;
  gap: 56px;
}
.footer-title {
  color: #1F2421;
  font-size: 18px;
  font-weight: 700;
}

.footer-txt {
  color: #626664;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}

.footer-bottom {
  padding-top: 48px;
  margin-top: 48px;
  border-top: 2px solid #E9E9E9;
}

.btn-abonnieren {
  width: 166px;
  height: 52px;
  color: #FBFDFB;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F862D;
  border: 1px solid #3F862D;
  border-radius: 6px;
}

.footer-bottom-title {
  color: #626664;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* product */
.product-banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(./images/banner.jpg) lightgray 50% / cover no-repeat;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

.product-banner .heading {
  color: #FBFDFB;
  text-align: center;
  font-family: "Black Mango";
  font-size: 48px;
  font-weight: 700;
}
.product-banner .txt {
  color: #FBFDFB;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.product-container {
  margin: 40px 0;
}
.product-sort {
  font-size: 18px;
  font-weight: 400;
  width: 120px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #626664;
  color: #626664;
  cursor: pointer;
}
.product-text {
  color: #BCBDBC;
  font-size: 18px;
  font-weight: 400;
}

.product-title {
  color: #626664;
  font-size: 18px;
  font-weight: 700;
}

.product-border {
  background-color: #E9E9E9;
  margin: 32px 0;
  height: 2px;
  width: 100%;
}

/* pagination */
.pagination .page-link {
  border-style: inherit !important;
  color: #1E1E1E !important;
  font-size: 16px;
}

.pagination .page-link.active {
  background-color: #626664;
  border-radius: 8px;
  color: #fff !important;
}

.pagination .disabled .page-link {
  background-color: #fff !important;
  color: #BCBDBC !important;
  border-radius: 8px;
}

.object-cover {
  object-fit: cover;
}
.productDetail-title {
  color: #1F2421;
  font-size: 48px;
  font-weight: 700;
  font-style: "Black Mango";
}
.productDetail-price {
  color: #1F2421;
  font-size: 24px;
  font-weight: 700;
}

.productDetail-time {
  color: #626664;
  font-size: 18px;
  font-weight: 400;
}

.productDetail-button {
  background-color: #3F862D;
  border-radius: 8px;
  font-size: 18px;
  color: #FBFDFB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74px;
}


.voucherDetail-label {
  color: #626664;
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}

.voucherDetail-txt {
  color: #626664;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}

.faq-label {
  color: #53686A;
  font-size: 16px;
  font-weight: 600;
}

.faq-txt {
  color: #53686A;
  font-size: 14px;
  font-weight: 400;
}

.fag-fragen {
  background: #F7F6F2;
  padding: 22px;
  border-radius: 12px;
}

.faq-button {
  background: #3F862D;
  padding: 7px 16px;
  border-radius: 8px;
  color: #FBFDFB;
  font-size: 16px;
}

.contact-title {
  font-size: 32px;
  font-weight: 700;
  color: #626664;
}
.contact-title-txt {
  font-size: 16px;
  font-weight: 400;
  color: #1F2421;
}
.contact-label {
  font-size: 16px;
  font-weight: 600;
  color: #626664;
}
.contact-txt {
  font-size: 14px;
  font-weight: 400;
  color: #626664;
}
.contact-form {
  background-color: #F7F6F2;
  border-radius: 8px;
  padding: 40px;
}
.contact-form-header {
  font-size: 32px;
  font-weight: 700;
  color: #626664;
}
.contact-form-label {
  font-size: 18px;
  font-weight: 700;
  color: #1F2421;
}
.contact-line {
  width: 100%;
  height: 2px;
  margin: 36px 0;
  background: #E9E9E9;
}
.contact-button {
  color: #FBFDFB;
  font-size: 16px;
  border-radius: 8px;
  background-color: #3F862D;
  width: 132px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.care-left-img {
  width: 100%;
  height: 618px;
  object-fit: cover;
}
input::placeholder, textarea::placeholder {
  color: #BCBDBC !important;
}
input::-webkit-input-placeholder {
  color: #BCBDBC;
}

input:-moz-placeholder {
  color: #BCBDBC;
}

input::-moz-placeholder {
  color: #BCBDBC;
}

input:-ms-input-placeholder {
  color: #BCBDBC;
}
.product-row {
  display: grid;
  grid-template-columns: 344px 1fr;
  gap: 74px;
}
.product-column-left {
  padding: 36px 24px;
}
.marginY-detail {
  margin: 40px 0;
}
.slider-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .footer-lst {
    grid-template-columns: 1fr 1fr;
  }
  
.carousel-control-prev {
  left: -60px;
}
.carousel-control-next {
  right: -60px;
}
.slider-row {
  grid-template-columns: 1fr 1fr;
}
.care-column-left-right {
  grid-template-columns: 1fr;
  background-color: #F7F6F2;
  justify-content: center;
  align-items: center;
}
.care-right {
  padding: 20px;
}
}

@media screen and (max-width: 767px) {
  .banner-container > img {
    width: 150px;
  }
  .care-column-left, .care-column-right {
    width: 100%;
  }
  .care-column-left-right {
    width: 100%;
  }
  .slider-row {
    grid-template-columns: 1fr;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .banner-heading {
    font-size: 32px;
    line-height: 50px;
  }
  .footer-lst {
    grid-template-columns: 1fr 1fr;
  }
  .care-right > img {
    width: 100%;
  }
  .home-event {
    margin: 20px 15px;
  }
}